header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

.titulo-principal {
    font-size: 25px;
    padding-left: 5px;
    font-weight: bold;
    display: inline-block;
    font-style: italic;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin-left:15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

#banner {
    width: 100%;
}

.principal {
    background: #CCCCCC;
    padding: 30px 20px;
}

.principal p {
    padding: 5px 0px;
}

.titulo-centralizado {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 18px;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.itens{
    font-style: italic;
    text-decoration: dotted;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

.lista-itens {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url("img/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}