body {
    
}

#banner {
    width: 100%; /* O width é a propriedade que devemos manipular para alterar a largura do elemento. */
    /* O height é a propriedade que devemos manipular para alterar a altura do elemento. */
    /* O padding (top, left, right, down) é a propriedade que devemos manipular para alterar o espaço inteiro do elemento. */
    /* O margin (top, left, right, down) é a propriedade que devemos manipular para alterar o espaço externo do elemento. */
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

em strong {
    color: #FF0000;
}

.itens{
    font-style: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}